*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  font: var(--wel-typography-body-default-01);
  color: var(--wel-sem-color-on-surface-hi);
  background: var(--wel-sem-color-surface);
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  min-height: 100vh;
  padding-top: 56px;
}
